
body {
	background-color: ""#4a4b4d""; /* Set the background color */
	font-family: Arial, sans-serif; /* Set a default font */
  }
h1 {
	text-align: center; /* Center the titles */
	color: rgb(255, 255, 255); /* Set title color */
  }
#aus_zone_map, #aus_min_max_temp {
	margin: 20px; /* Add some spacing around the visualizations */
  }